body {
  margin: auto;
  width: 900px;
}

header {
  /* margin: auto; */
  width: 100%;
  display: flex;
  padding-top: 2%;
  flex-direction: row; 
  justify-content: space-between;
}

#header-left-side {
  display: flex;
}

h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 2.3em;
}

#header {
  padding-left: 10px;
}

#foodblog {
  font-size: 10px;
  color:grey;
}

 .border {
  background-image: url("../img/hr-img.png");
  height: 10px;
  margin: 2% 0%;
  width: 100%;
}

main {
  margin: auto;
  width: 100%;

}

#chocolate { 
  font-family: 'Anton', sans-serif;
  font-size: 32px;
  color: black;
}

#main-header{
  font-size: 10px;
  color:grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 0;
}

#main-header-left {
  display: flex;
  flex-direction: column;
}

#print {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

#print-text {
  padding-left: 3px;
}

#choco-pizza {
width: 100%;
}

#text{
  text-indent: 2em;
}
article {
  padding-bottom: 10px;
  padding-top: 15px;
  color: grey;
}

#checkboxes {
  position: absolute;
    z-index: 1;
  column-count: 2;
  padding: 40px;
}

#background-pic {
  z-index: 0;
  margin: auto;
  width: 900px;
}

input {
  margin: 8.5px;
}

footer {
  display: flex;
  flex-direction: column;
}

#footer-top {
  display: flex;
  justify-content: space-between;
}

#footer-top-left {
  display: flex;
  justify-content: space-around;
}

#footer-text {
  padding: 0 0 10px 10px;
}

h4 {
  margin-top: 10px;
  color: grey;
}

button {
  width: 150px;
  max-height: 50px;
  background-color: rgb(199, 96, 96);
  color: white;
  border: none;
}

#footer-bottom {
  margin: 50px 0px;
  display: flex;
  flex-direction: column;
}

  /* #footer-bottom-left {
    display: flex;
    flex-direction: row;
  } */

hr {
  display: inline-block;
  min-width: 428px;
  margin-bottom: 15px;
  color: hsla(0, 0%, 50%, 0.2);
}

#footer-bottom-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  color: hsla(0, 0%, 50%, 0.5);
}

h3 {
  letter-spacing: .1em;
}

h5 {
  padding-top: 5px;
}
